!!! 5

%html
  %head
    = bootstrap_assets
    :css
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .filter {
        padding: 9px;
      }
  %body
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container-fluid
          %button.btn.btn-navbar{ type: "button", "data-toggle" => "collapse", "data-target" => ".nav-collapse"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.brand{ href: "#"}
            Datashare Filter
          .nav-collapse.collapse
            %p.navbar-text.pull-right
              Logged in as <a href="#" class="navbar-link">Username</a>
            %ul.nav
              %li.active
                %a{ href: "#"}
                  Home
              %li
                %a{ href: "#"}
                  About
              %li
                %a{ href: "#"}
                  Contact

    - container :fluid do
      .row-fluid
        %span.span3
          .well.filter
            %form{action: "/"}
              %fieldset
                %label Borough of Arrest
                %select.input-xlarge{name: "filter[borough]", }
                  %option{value: "A", selected: params[:filter][:borough] == "A"} All Boroughs
                  %option{value: "B", selected: params[:filter][:borough] == "B"} Bronx
                  %option{value: "K", selected: params[:filter][:borough] == "K"} Brooklyn
                  %option{value: "M", selected: params[:filter][:borough] == "M"} Manhattan
                  %option{value: "Q", selected: params[:filter][:borough] == "Q"} Queens
                  %option{value: "S", selected: params[:filter][:borough] == "S"} Staten Island
                -#%input.input-xlarge{ type: "text", placeholder: "Arrest ID"}
                -#%span.help-block help text
              %fieldset
                %label Class of Charge
                %label.checkbox.inline
                  %input{name: "filter[infraction]", type: "checkbox", value:"I", checked: params[:filter][:infraction] == "I" }
                    Infraction
                %label.checkbox.inline
                  %input{name: "filter[violation]", type: "checkbox", value:"V", checked: params[:filter][:violation] == "V"}
                    Violation
                %label.checkbox.inline
                  %input{name: "filter[misdemeanor]", type: "checkbox", value:"M", checked: params[:filter][:misdemeanor] == "M"}
                    Misdemeanor
                %label.checkbox.inline
                  %input{name: "filter[felony]",type: "checkbox", value:"F", checked: params[:filter][:felony] == "F"}
                    Felony

              .form-actions
                %button.btn.btn-primary{ type: "submit"} Filter
                %a{href: "/"}
                  %button.btn{ type: "reset"} Reset

        .span9
          = yield
