!!! 5

%html
  %head
    = bootstrap_assets
    :css
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .filter {
        padding: 9px;
      }
  %body
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container-fluid
          %button.btn.btn-navbar{ type: "button", "data-toggle" => "collapse", "data-target" => ".nav-collapse"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.brand{ href: "#"}
            Datashare Filter
          .nav-collapse.collapse
            %p.navbar-text.pull-right
              Logged in as <a href="#" class="navbar-link">Username</a>
            %ul.nav
              %li.active
                %a{ href: "#"}
                  Home
              %li
                %a{ href: "#"}
                  About
              %li
                %a{ href: "#"}
                  Contact

    - container :fluid do
      .row-fluid
        %span.span3
          .well.filter
            %form
              %fieldset
                %select.input-xlarge
                  %option Bronx
                  %option Brooklyn
                  %option Manhattan
                  %option Queens
                  %option Staten Island
                -#%input.input-xlarge{ type: "text", placeholder: "Arrest ID"}
                -#%span.help-block help text
                %label.checkbox.inline
                  %input{type: "checkbox", value:"I"}
                    I
                %label.checkbox.inline
                  %input{type: "checkbox", value:"M"}
                    M
                %label.checkbox.inline
                  %input{type: "checkbox", value:"F"}
                    F
                %button.btn{ type: "submit"} Filter

        .span9
          = yield
