body
  padding-bottom: 40px

.btn.active
  color: #fff
  background-image: linear-gradient(rgb(0, 136, 204), rgb(0, 68, 204))

.datashare-filter
  padding: 9px
  form
    margin-bottom: 0
  fieldset
    display: block
  legend
    display: block
    margin-bottom: 3px
    height: auto
  fieldset
    &.secondary legend.top
      font-weight: 400
      font-size: 18px
    &.tertiary legend
      font-size: 14px
      font-weight: 600
      border: 0
  .field
    display: block
    padding-top: 2px
    input
      padding: 0
      display: inline
      margin-bottom: 7px
    label
      padding: 0
      display: inline-block
      margin-left: 2px
  .double-up
    padding-top: 10px
    display: block
    clear: both
    .title
      display: inline-block
      margin-top: 4px
    .btn-group
      float: right
  .age-selector
    /* text-align: center
    input
      width: 70px
    .horiz-box
      display: block
      /* width: 120px
      float: left
      margin-top: 5px
      margin-right: 10px

.inline
  display: inline

.horiz-control
  display: block
  padding: 10px

.ui-buttonset .field
  display: inline
  padding: auto
  margin: auto
  font-size: auto

#date-select button
  width: 125px

#next-appearance-date button
  min-width: 125px
  
#results-header
  margin-top: 9px
  margin-bottom: 9px
  .control-text
    display: inline-block
    margin-top: 3px
    
.incident
  border-bottom: 1px solid #000
  margin-bottom: 5px
  /* padding-left: 10px
  /* padding-bottom: 5px
  &.selected
    color: #fff
    background-color: #999
  h3
    font-size: 22px
    margin: 0
    padding: 0
    &.name
      color: #0077EE
  p
    margin-bottom: 5px
  .court-part
    color: #ff5522

.priors .count, .open-cases .count
  font-weight: bold

.last-updated
  color: #999

.disc
  font-size: 14px
  height: 25px
  width: 25px
  margin-top: 16px
  display: inline-block
  text-align: center
  padding: 2px
  border-radius: 50%
  color: #fff
  background: #888
  text-align: center
  .disc-internal
    margin-top: 3px
