%table.table
  %thead
    %tr
      %th Arrest ID
      %th Name
      %th NYPD Charge
  %tbody
    - @incidents.each do |incident|
      %tr
        %td
          = incident.arrest_id
        %td
          = incident.arrest_report.person_name
        %td
          = incident.arrest_report.charges
