%table.table
  %thead
    %tr
      %th Arrest ID
      %th Name
      %th NYPD Charge
  %tbody
    - @reports.each do |report|
      %tr
        %td
          = arrest_report_id(report)
        %td
          = arrest_report_name(report)
        %td
          = arrest_report_charge(report)
